{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Conclusion
{% endblock %}

{% block content %}


    <p>
        Thank you for participating in the experiment.
        Here are your final results:
    </p>

<br>

    <p>
        <b>Offline game:</b> <br>
        You got a total of {{player.amount_earned}}.
        {% if player.playedOnline %}

        <br>

        <b>Online game:</b> <br>
        You got a total of {{ player.game_payoff}}.
        <br>

        In <b>both</b> games together you got a total of {{ player.amount_earned|add:player.game_payoff }}.
        {% endif %}
    </p>


    {% next_button %}


{% endblock %}