{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Offline Task Instructions
{% endblock %}

{% block content %}


<br>

    <p>
        You and your counterpart will now play the <b>Offline</b> version of the game.
        While the proposer chooses his/her offers, you will decide on your startegy in the next page. When both you
        and the proposer are done deciding, you will see the results of the game based on both the proposer's
        strategy and yours.
    </p>

    {% next_button %}


{% endblock %}
