{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}

    <style type="text/css">
        #amount_uncomplex {
            border: 0;
            color: #f6931f;
            font-weight: bold;
            position: relative;
            top: 50%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
        }

        .slider_right {
            display: inline-block;
            float: right
        }

        .slider_left {
            display: inline-block;
            float: left
        }


        /*styling with css to make the range 3-colored, more at the url in the css based answer:
         https://stackoverflow.com/questions/27709412/how-to-set-3-different-colors-at-jquery-ui-slider  */

         .ui-state-default:first-of-type, .ui-widget-content .ui-state-default:first-of-type, .ui-widget-header .ui-state-default:first-of-type {
            background: yellow;

        }
        .ui-state-default:last-of-type, .ui-widget-content .ui-state-default:last-of-type, .ui-widget-header .ui-state-default:last-of-type {
            background: green;

        }
        .ui-slider .ui-slider-range {
            background: yellow;

        }

        .ui-slider .ui-slider-range:before,
        .ui-slider .ui-slider-range:after {
            display:inline-block;
            height:14px;
            content:'';
            background:red;
            right:100%;
            top:0px;
            left: -1000px;
            position:absolute;
        }

        .ui-slider .ui-slider-range:after {
            background:green;
            left:100%;
            right:-1000px;
        }

        .slider-container {
                overflow:hidden;
                padding:3px
        }

        /*styling for the color legend*/
        .legend { list-style: none; }
        .legend li { float: left; margin-right: 5px; }
        .legend span { border: 1px solid #ccc; float: left; width: 18px; height: 18px; margin: 2px; }

        .legend .Unacceptable { background-color: red; }
        .legend .Neutral { background-color: yellow; }
        .legend .Acceptable { background-color: green; }


    </style>

{% endblock %}

{% block title %}
    Choose Your Strategy
{% endblock %}

{% block content %}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script>
            $(function () {
                $("#slider-range_uncomplex").slider({
                    range: true,
                    min: 0,
                    max: 100,
                    values: [0, 100],
                    slide: function (event, ui) {
                        /*assigning to 'amount_uncomplex' the current range represented by the slider.*/
                        $("#amount_uncomplex").val("$" + ui.values[0] + " - $" + ui.values[1]);

                        /*assigning to 'max_reject_uncomplex' the player's current maximal rejection amount.
                        This way we pass the value to the form_filed named 'max_reject_uncomplex'.
                        The same also applies to 'min_accept_first'.
                        More information here: https://stackoverflow.com/questions/49634695/range-bar-otree */
                        $("#id_max_reject_uncomplex").val(ui.values[0]);
                        $("#id_min_accept_uncomplex").val(ui.values[1]);
                    }
                });
                /*assigning to 'amount_uncomplex' the initial range represented by the slider.*/
                $("#amount_uncomplex").val("$" + $("#slider-range_uncomplex").slider("values", 0) +
                    " - $" + $("#slider-range_uncomplex").slider("values", 1));
                /* assigning to the passed variables their initial value (0,100) to make sure the right values are passed when the user is not touching the slider.*/
                $("#id_max_reject_uncomplex").val(0);
                $("#id_min_accept_uncomplex").val(100);
            });

        </script>


    <p>Specify your zone of indifference (between accepting and rejecting an offer) using the slider.
        The range to the LEFT will be your rejection zone. The range to the RIGHT will be your acceptance zone.</p>



    {#this is the color legend for the slider.#}
        <fieldset>
            <legend>Color legend:</legend>
                <ul class="legend">
                    <li><span class="Unacceptable"></span> Highly or somewhat unacceptable</li>
                    <li><span class="Neutral"></span> More or less neutral in acceptability</li>
                    <li><span class="Acceptable"></span> Highly or somewhat acceptable.</li>
                </ul>
        </fieldset>

    <br>


    {# displays the player's decision about the biggest offer he would absolutely reject.#}
        <input id="amount_uncomplex" readonly>

    <br>


    {#             this div is the slider container which prevents colors over flow by wraping the slider in hidden layout.#}
        <div class="slider-container">
            <div>
    {#             this div is the slider which displays the player's indifference zone.#}
                <div id="slider-range_uncomplex"></div>
    {#             rendering the input fields as hidden to pass the value there from the slider using their id, based on the model field name.#}
                {{ form.min_accept_uncomplex.as_hidden }}
                {{ form.max_reject_uncomplex.as_hidden }}


                <span class="slider_left">$0</span>
                <span class="slider_right">$100</span>
            </div>
        </div>



    <br>
    <br>

    {% next_button %}

{% endblock %}
