{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}

    <style type="text/css">
        #swf_file{display:none;}
    </style>

{% endblock %}


{% block title %}
    Waiting Page
{% endblock %}

{% block content %}

    <script type='text/javascript'>
var timePeriodInMs = 15000;

setTimeout(function()
{
    document.getElementById("texttohide").style.display = "none";
    document.getElementById("swf_file").style.display = "block";
},
timePeriodInMs);
</script>
<body>
    <div id="texttohide"> Please stand by while looking for a counterpart. </div>
    <div id="swf_file">A counterpart has been found! <br>
        You have been selected to play as the <b>Responder</b>.
        <br>
        {% next_button %}
        </div>
</body>


{% endblock %}