{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}

    <style type="text/css">
        .otree-timer {
        display: none;
    }
    </style>

{% endblock %}


{% block title %}
    Waiting for Counterpart to finish
{% endblock %}

{% block content %}


    <p>Please stand by while waiting for your counterpart to finish choosing his offers.
    </p>

{% endblock %}