{% load otree static %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <div class="panel-body">

        <p>
            First, you will be paired with a counterpart, but you will not be told their identity.
            Your identity will also remain hidden from your counterpart.
            You and your counterpart will be assigned to one of these two roles: one of you will be the <b>proposer</b>
            and one of you will be the <b>responder</b>.
            Finally, you will be assigned to take part either in an offline or in an online version of the task,
            during which you will be asked to split between you {{ Constants.endowment }} .

        </p>


        <h4 class="panel-sub-heading">
            Proposer's role
        </h4>

        <p>
            Irrespectively of whether the proposer participates in the offline or the online version of the task,
            the proposer will be presented with a sequence of choices, each asking them to split {{ Constants.endowment }}
            between the proposer and the corresponding responder. <br>
            For each choice, the proposer has 101 options, including the following:
            <br> 0 for the responder (the proposer keeps 100)
            <br> 5 for the responder (the proposer keeps 95)
            <br> 37 for the responder (the proposer keeps 63)
            <br> 100 for the responder (the proposer keeps 0)
            <br> etc.
        </p>

        <h4 class="panel-sub-heading">
            Responder's role
        </h4>

        <p>
            The responder rates how acceptable an offer by the proposer is in terms of a 3-point scale: Highly or somewhat unacceptable,
            More or less neutral in acceptability, Highly or somewhat acceptable. <br>
            <br>
            In the online version of the task, the responder sees the proposer's offers one by one (possibly along with a system-generated message),
            and then provides the corresponding rating.
            In the offline version of the task, the responder does not see up front any of the actual offers from the proposer
            (but possibly sees a system-generated message),
            but has to select three intervals of points that indicate how the responder would have rated potential offers from the proposer in the 3-point scale.
            After the responder provides that information, the proposer's actual offers are automatically rated against the provided intervals.
        </p>

        <h4 class="panel-sub-heading">
            Results
        </h4>

        <p>
            A result page will be displayed once both players have completed their corresponding actions.
            Payoffs will be computed as follows:
        </p>

        <ul>
            <li>For each proposer offer that is rated by the responder as highly or somewhat unacceptable, the players receive a zero
                payoff (since the offer is deemed rejected).
            </li>
            <li>For each proposer offer that is rated by the responder as more or less neutral in acceptability, the players
                receive half of the payoff according to the proposer's offer (since the offer is deemed, in expectation, to be
                rejected half of the time with a zero payoff, and accepted half of the time with a payoff according to the
                proposer's offer).
            </li>
            <li>For each proposer offer that is rated by the responder as highly or somewhat acceptable,
                the players receive a payoff according to the proposer's offer (since the offer is deemed accepted).
            </li>
        </ul>
    </div>
</div>
