{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}

    <style type="text/css">

        .radiodiv Unacceptable {color:red;
                                text-shadow: -0.1px -0.1px 0 #000,
    0.1px -0.1px 0 #000,
    -0.1px 0.1px 0 #000,
    0.1px 0.1px 0 #000;
                                }
        .radiodiv Neutral {color:yellow;
                            text-shadow: -0.1px -0.1px 0 #000,
    0.1px -0.1px 0 #000,
    -0.1px 0.1px 0 #000,
    0.1px 0.1px 0 #000;
                            }
        .radiodiv Acceptable {color:green;
                            text-shadow: -0.1px -0.1px 0 #000,
    0.1px -0.1px 0 #000,
    -0.1px 0.1px 0 #000,
    0.1px 0.1px 0 #000;
                            }

    </style>

{% endblock %}

{% block title %}
    Your role and decision
{% endblock %}

{% block content %}


    {% if player.complex_mode_online %}

        {% include Constants.popup_template %}

    {% endif %}



    <p id="offer">
        You are the <b>responder</b>.
        The other player has offered you {{ player.amount_offered }}.
        <br>
        <b>Please rate the offer based on how acceptable it is:</b>
    </p>



    <div class="radiodiv">
        <input type="radio" name="offer_rating" id = "unacceptable" value=-1>
        <unacceptable for="unacceptable">Highly or somewhat unacceptable </unacceptable>

        <input type="radio" name="offer_rating" id = "neutral" value=0>
          <neutral for="neutral">More or less neutral in acceptability</neutral>

        <input type="radio" name="offer_rating" id="acceptable" value=1>
        <acceptable for="acceptable">Highly or somewhat acceptable</acceptable>

    </div>


    <br>
    {% next_button %}
    <br>

{% endblock %}
