{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
   Conclusion
{% endblock %}

{% block content %}


    <p>
        Thank you for participating in the experiment.
        Here are your final results:
    </p>

<br>

    <p>
        <b>Online game:</b> <br>
        You got a total of {{player.payoff}}.
        <br>

        {% if player.playedOffline %}

        <b>Offline game:</b> <br>
        You got a total of {{ player.threshold_payoff}}.
        <br>

        In <b>both</b> games together you got a total of {{ player.payoff|add:player.threshold_payoff }}.
        {% endif %}
    </p>


    {% next_button %}


{% endblock %}