{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Online Task Instructions
{% endblock %}

{% block content %}


<br>

    <p>
        You and your counterpart will now play the <b>Online</b> version of the game.
        For each of the proposer's offers you will be requested to rate how acceptable the offer is on
        a 3-point scale. <br>
        After you and the proposer go through all the offers you will see the result page which sums up your
        payoff for the online game.
    </p>

    {% next_button %}


{% endblock %}
