{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Results
{% endblock %}

{% block content %}

        <p>You and the proposer were given {{ player.current_endowment }} in all rounds, out of which the other player
            offered you <b>{{ player.amount_offered }}</b> in this round and <b>{{ player.total_amount_offered }} </b>in
            all
            rounds.</p>

        {% if player.offer_rating == 1 %}
            You <b>accepted</b> the offer,therefore
        {% elif player.offer_rating == 0 %}
            You <b>semi-accepted</b> the offer,therefore
        {% else %}
            You <b>rejected</b> the offer,therefore
        {% endif %}


    your total payoff (in all rounds) is <b>{{ player.payoff }}</b>.

    {% next_button %}

{% endblock %}
